= form_for category, url: categories_path, method: :post, html: { class: "sell-form"} do |f| 
  .sell-form-box
    .form-group.sell
      %label
        カテゴリー
        %span.form-require 必須
      %div.select
        .select-wrap
          %i.icon-arrow-bottom
          = f.collection_select :category_id, category, :id, :name, { prompt: "---" }, { class: "select-default", id: "category_select" }
      %div.select-children
        =f.text_field :brand_id, autocomplete: "brand", type: "hidden", value: "1"